# Laravel & PHP-specific ignores
/.phpunit.cache
/.phpunit.result.cache
/bootstrap/cache/*
/storage/*.key
/storage/pail
/storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/debugbar/

# Node.js dependencies
/node_modules
/npm-debug.log
/yarn-error.log

# Build & compiled files
/public/build
/public/hot
/public/storage

# Composer dependencies
/vendor
/composer.lock
/auth.json

# Environment variables
.env
.env.backup
.env.production

# IDE & editor files
/.idea
/.vscode
/.nova
/.fleet
/.zed
/.phpactor.json

# Homestead & Laravel Sail (if using)
/Homestead.json
/Homestead.yaml
/docker-compose.yml

# MacOS & Windows system files
.DS_Store
Thumbs.db
